{{ define "main" }}

<section class="hero hero-image">
  <div class="hero-overlay">
    <div class="container">
      <h1>Sauribacon</h1>
      <p>
        Smoky. Bold. Slightly unhinged.  
        A food experiment that refuses to behave.
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>The Origin Story</h2>
    <p>
      The issue with the tur-duck-en is that if you are going to stuff meat inside of meat inside of meat, you shoud choose the best meats. Building on this premise, Eric Brewe, a physics professor and recreational cook invented the Sauribacon. The Sauribacon is a three layered meat treat, with a core of rib meat, surrounded by a sausage layer and wrapped in bacon. This concoction was developed to improve on the the meats that make up the tur-duck-en.
    </p>
    <img src="/images/cooker-img.jpg" class="food-image">
  </div>
</section>

<section class="image-grid">
  <div class="grid">
    <img src="/images/gallery1.jpg" alt="Sauribacon 1">
    <img src="/images/gallery2.jpg" alt="Sauribacon 2">
    <img src="/images/gallery3.jpg" alt="Sauribacon 3">
    <img src="/images/gallery4.jpg" alt="Sauribacon 4">
    <img src="/images/gallery5.jpg" alt="Sauribacon 5">
    <img src="/images/gallery6.jpg" alt="Sauribacon 6">
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>What Is It?</h2>
    <p>
      The sauribacon is made up of a core of rib meat, surrounded by sausage and then wrapped in bacon.  
      This combination allows maximum flexibility for cooks and maximum deliciousness for eaters. 
      The standard core is a boneless beef short-rib, though versions with a bone in pork or lamb rib could be substituted. 
      The second layer, sausage, provides the cook with many options to address flavor and texture 
      (breakfast sausage, bratwurst, spicy or sweet Italian sausage, lamb sausage, spicy Thai sausage or even chicken sausage are options).  
      Finally, the outer layer of bacon is wrapped around the outside.  
    </p>
  </div>
</section>

<section class="accent-block">
  <div class="container">
    <h2>Why Create It?</h2>
    <p>
      Because normal bacon wasn’t enough.
      Because flavor deserves curiosity.
      Because hobbies should taste dangerous.
    </p>
  </div>
</section>



{{ end }}